doi_10.5061_dryad.2rs41__v1/
__pycache__/
# ignore test input files and output files 
*geno_vcf.csv
*.vcf.gz
*.vcf.gz.tbi
*.phen
studysession
geno.csv
test_multi.csv
lab3.csv
lab3_results.csv
settings.json
out.txt
nohup.out

